<section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>LiteTube</h2>
        <h3>Sample Videos</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
 <section class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KrMISsHZ85s" title="Skytrain & DLR Comparison" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Skytrain & DLR Comparison</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-s3j-ptJD10" title="Living In Antarctica" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Living In Antarctica</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qrtUToXqbCE" title="Subway Conductor" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Subway Conductor</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OZHwET3Gqg8" title="Bersant Cinematic" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Bersant Cinematic</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg rounded-pill" href="#">View Complete Catalogue</a>
    </div>
  </div>
</section>