<section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Homemade Goods</h2>
        <h3>This Year's Best</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Skytrain & DLR Comparison</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KrMISsHZ85s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>Living In Antarctica</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-s3j-ptJD10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>Subway Conductor</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qrtUToXqbCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>Bersant Cinematic</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OZHwET3Gqg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>
  </section>